/RedditClone/Application/bin/
/RedditClone/Application/obj/
/RedditClone/Domain/bin/
/RedditClone/Domain/obj/
/RedditClone/FileData/bin/
/RedditClone/FileData/obj/
/RedditClone/WebAPI/bin/
/RedditClone/WebAPI/obj/
