@page "/"
<PageTitle>Dashboard</PageTitle>
<h1>Dashboard</h1>

@if (posts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @foreach (var post in posts)
    {
        <Post Id="@post.Id" Title="@post.Title" Author="@post.Author" Body="@post.Body"/>
    }
}

@code {
    private Post[]? posts;
    [Inject]
    private HttpClient client { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        posts = await client.GetFromJsonAsync<Post[]>("http://localhost:5291/posts");
    }
    
}